<div class="p-article-pagination">
    {{ $pagesInSection := (where .Site.RegularPages "Section" .Section) }}

    {{ with $pagesInSection.Prev . }}
    <a class="p-article-pagination__link--previous" href="{{ .Permalink }}">
        <span class="p-article-pagination__label">{{ i18n "previous" | default "Previous" }}</span>
        <span class="p-article-pagination__title">
            {{ .Title }}
        </span>
    </a>
    {{ end }}

    {{ with $pagesInSection.Next . }}
    <a class="p-article-pagination__link--next" href="{{ .Permalink }}">
        <span class="p-article-pagination__label">{{ i18n "next" | default "Next" }}</span>
        <span class="p-article-pagination__title">
            {{ .Title }}
        </span>
    </a>
    {{ end }}
</div>