%section-padding--default-print {
  @media only print and (max-width: $breakpoint-large) {
    padding-bottom: $spv-outer--regular-scaleable * 0.5;
    padding-top: $spv-outer--regular-scaleable * 0.5;
  }

  @media only print and (min-width: $breakpoint-large) {
    padding-bottom: $spv-outer--regular-scaleable;
    padding-top: $spv-outer--regular-scaleable;
  }
}

%section-padding--shallow-print {
  @media only print and (max-width: $breakpoint-large) {
    padding-bottom: $spv-outer--shallow-scaleable * 0.5;
    padding-top: $spv-outer--shallow-scaleable * 0.5;
  }

  @media only print and (min-width: $breakpoint-large) {
    padding-bottom: $spv-outer--shallow-scaleable;
    padding-top: $spv-outer--shallow-scaleable;
  }
}

%section-padding--deep-print {
  @media only print and (max-width: $breakpoint-large) {
    padding: $spv-outer--deep-scaleable * 0.5 0 $spv-outer--deep-scaleable * 0.5;
  }

  @media only print and (min-width: $breakpoint-large) {
    padding: $spv-outer--deep-scaleable 0;
  }
}

%section-padding--default {
  @extend %section-padding--default-print;
}

%section-padding--shallow {
  @extend %section-padding--shallow-print;
}

%section-padding--deep {
  @extend %section-padding--deep-print;
}

@media only print {
  #main-content footer {
    page-break-inside: avoid;
  }

  .highlight>pre {
    overflow: hidden;

    >code {
      display: block;
    }
  }

  // Rahul: Changes to main theme
  #navigation,
  footer {
    display: none;
  }
}