$font-weight-normal: 400;
$font-weight-bold: 700;
$font-base-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji"';
$font-monospace: '"SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace';

@import "node_modules/vanilla-framework/scss/build";
@import "post-content";
@import "custom";
@import "print";
