{{ define "main" }}

{{ partial "list/header.html" . }}

{{ $pages := .RegularPages }}

{{ if .IsHome }}

{{ $pages =  where .Site.RegularPages "Type" "in" $.Site.Params.mainSections }}

{{ else if eq .Kind "section" }}

{{ $pages = slice }}

{{ range .Site.RegularPages }}
{{ if $.IsAncestor . }}
{{ $pages = append . $pages}}
{{ end }}
{{ end }}

{{ end }}

<div class="p-strip is-wrapper posts posts--snazzy">
    <div class="row">
        {{ range (.Paginate $pages).Pages }}

        {{ $hasPostInfo := or .Params.Date (or .Params.Authors .Params.Author) }}

        <div class="col-12">
            <div class="p-card">
                <!-- 
                    H3 is not in a sequentially-descending order which is not good for accessibility. 
                    However, we still want the visual appearance of H3. Fortunately, Vanilla has a CSS class for that. 
                -->
                <h2 class="p-heading--3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>

                {{/*  Check to see if it has post info. */}}
                {{ if or .Params.Date (or .Params.Authors .Params.Author) }}
                <p>{{ partial "list/post-info.html" . }}</p>
                {{ end }}

                {{ if .Summary }}
                <p>{{ .Summary }}</p>
                {{ end }}

                {{ if .Params.tags }}
                <p>{{ partial "list/tags.html" . }}</p>
                {{ end }}

                {{ if .Truncated }}
                <p>
                    <a href="{{ .Permalink }}">
                        {{ i18n "readMore" | default "Read more" }}<span class="u-off-screen"> of {{ .Title }}</span>
                    </a>
                </p>
                {{ end }}
            </div>
        </div>
        {{end}}
    </div>
</div>

<div class="p-strip is-wrapper">
    <div class="row">
        {{ partial "list/pagination.html" . }}
    </div>
</div>

{{ end }}